.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.img {
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.password-input {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.forgot-password {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.signup-text {
  font-size: 14px;
  margin-top: 15px;
}

.signup-link {
  text-decoration: none;
  color: #007bff;
}

.google-button {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-logo {
  width: 20px;
  margin-right: 10px;
}

/* Media query for small screens */
@media (max-width: 480px) {
  .container {
    padding: 20px;
  }
  
  h1 {
    font-size: 20px;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 8px;
  }
  
  .login-button {
    padding: 8px;
  }
}
